extends layout.pug 

block content 
    main.content    
        h1.page-title All Notes
        
        if notes.length
            each note in notes 
                a.note(href=`notes/${note.id}`) #{ note.title } 
        else 
            p ¡Aún no hay notas!
