extends layout.pug 

block content 
    main.content    
        h1.page-title All Notes
        
        if notes.length
            each note in notes 
                a.note(href='#')= note 
        else 
            p There are no any notes yet!
