extends layout.pug 

block content
    main.content    
        h1.page-title Create Note Form

        form.form(methods='POST' action='/create_note')
            label.labal Title
            input.input(type='text' name='title')    

            label.labal Description 
            textarea.input(type='text' name='desc' rows='7')

            button.btn(type='submit') Create note 

        
