doctype html
html
    head
        title Notes 

    body
        header 
            h1 NOTES 
            
            nav 
                a(href='/notes') All notes 
                a(href='/archive') Archive 
        
        block content 

