doctype html
html
    head
        title Notes 
        link(rel='stylesheet' href='/static/main.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap' rel='stylesheet')

    body
        header.header 
<<<<<<< HEAD
            h1
                a(href='/') NOTES 
=======
            h1 NOTES 
>>>>>>> aa8e08ff6c416c7e9895fdd60f0d20d0c04620f1
            
            nav.nav
                a.nav-item(href='/notes') All notes 
                a.nav-item(href='/archive') Archive 
        
        block content 

