:root {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}
.header, 
.content {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px dotted lightgray;
}

.nav-item {
    display: inline-block;
    padding: 5px 10px;
}

.content {
    padding: 100px 0 0 0;
}

.feature {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background: lime;
    color: magenta;
    border: 1px black;
}

.feature:hover {
    background: mediumseagreen;
    color: red;
<<<<<<< HEAD
}

/* Create Note */

.page-title {
    margin-bottom: 35px;
}

.form {
    width: 100%;
}

.label,
.input {
    display: block;
}

.label {
    margin-bottom: 5px;
}

.input {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn {
    display: inline;
    font-size: 1.3rem;
    border: none;
    background-color: blueviolet;
    color: darkgray;
    padding: 15px 30px;
}

/* All notes */

.note {
    display: block;
    color: darkgrey;
    border-bottom: 1px solid #ccc;
    font-size: 1.4rem;
    padding: 10px;
=======
>>>>>>> aa8e08ff6c416c7e9895fdd60f0d20d0c04620f1
}